.newTaskForm {
  display: flex;
  flex-direction: row;
  gap: 8px;
  max-width: 736px;
  position: absolute;
  top: 173px;
  width: 100%;
}
 
.newTaskForm textarea {
  display: flex;
  color: var(--gray-100);
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  height: 3.37rem;
  resize: none;
  padding: 1rem;
  border-radius: 8px;
  width: 46rem;
}

.newTaskForm button {
  align-items: center;
  background: var(--blue-dark);
  border-radius: 8px;
  border-style: none;
  color: var(--gray-100);
  cursor: pointer;
  display: flex;
  font-weight: 700;
  flex-direction: row-reverse;
  height: 52px;
  justify-content: space-between;
  padding: 1rem;
  line-height: 20px;
  width: 90px;
}

.newTaskForm button:hover {
  background: var(--blue);
}

.newTaskForm button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.tasksContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  width: 100%;
}

