
.container {
  background-color: var(--gray-700);
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 1016px;
}

.topBar img {
  width: 7.85rem;
  height: 3rem
}

.topBar {
  background-color: var(--gray-700);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
}