
.container {
  background-color: var(--gray-700);
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid red
}
.content {
  width: 100%;
  max-width: 1016px;
  border: 1px solid pink

}

.topBar img {
  width: 7.85rem;
  height: 3rem
}
.topBar {
  background-color: var(--gray-700);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
  border: 1px solid lime
}